{{license_header}}
$version: "2"
namespace OpenSearch

use aws.protocols#restJson1

@externalDocumentation(
    "OpenSearch Documentation": "https://opensearch.org/docs/latest/"
)

@httpBasicAuth
@restJson1
service OpenSearch {
    version: "2021-11-23",
    operations: [
    {{#operations}}
    {{name}},
    {{/operations}}
    ]
}


@trait(
    selector: ":is(simpleType, list, map, structure, union, operation, member)"
)
map vendorExtensions {
    @pattern("^x-.+$")
    key: String
    value: Document
}
