{{license_header}}
$version: "2"
namespace OpenSearch

// TODO: Fill in API Reference URL
@externalDocumentation(
    "API Reference": "https://opensearch.org/docs/latest"
)

{{#operations}}
@vendorExtensions(
    "x-operation-group": "{{operation_group}}",
    "x-version-added": "1.0"
)
{{#readonly}}
@readonly
{{/readonly}}
{{#idempotent}}
@idempotent
{{/idempotent}}
@suppress(["HttpUriConflict"])
@http(method: "{{method}}", uri: "{{uri}}")
@documentation("{{{description}}}")
operation {{operation_name}} {
    input: {{input_name}},
    output: {{output_name}}
}

{{/operations}}
