{{license_header}}
$version: "2"
namespace OpenSearch
use opensearch.openapi#vendorExtensions

// TODO: Fill in API Reference URL
@externalDocumentation(
    "API Reference": "https://opensearch.org/docs/latest"
)

{{#operations}}
{{#deprecated}}
@deprecated
{{/deprecated}}
@vendorExtensions(
    {{#extensions}}
    "x-{{{key}}}": "{{{value}}}",
    {{/extensions}}
)
{{#readonly}}
@readonly
{{/readonly}}
{{#idempotent}}
@idempotent
{{/idempotent}}
{{^delete_with_body}}
@suppress(["HttpUriConflict"])
{{/delete_with_body}}
{{#delete_with_body}}
@suppress(["HttpUriConflict", "HttpMethodSemantics.UnexpectedPayload"])
{{/delete_with_body}}
@http(method: "{{method}}", uri: "{{uri}}")
@documentation("{{{description}}}")
operation {{operation_name}} {
    input: {{input_name}},
    output: {{output_name}}
}
{{#_blank_line}}

{{/_blank_line}}
{{/operations}}