{{#deprecated}}
@deprecated
{{/deprecated}}
{{#deprecation_info}}
@vendorExtensions(
    "x-deprecation-message": "{{{deprecation_message}}}",
    "x-version-deprecated": "{{{deprecation_version}}}"
)
{{/deprecation_info}}
{{#with_default}}
@default({{{default}}})
{{/with_default}}
{{#pattern}}
@pattern("{{{pattern}}}")
{{/pattern}}
{{#documentation}}
@documentation("{{{documentation}}}")
{{/documentation}}
