{{license_header}}
$version: "2"
namespace OpenSearch

{{#simples}}
{{>params.traits}}
{{smithy_type}} {{name}}

{{/simples}}

{{#lists}}
{{>params.traits}}
list {{name}} {
  member: String
}
{{/lists}}

{{#enums}}
{{>params.traits}}
enum {{name}} {
  {{#options}}
  {{key}} = "{{value}}"
  {{/options}}
}
{{/enums}}