{{license_header}}
$version: "2"
namespace OpenSearch

{{#simples}}
{{>params.traits}}
{{smithy_type}} {{smithy_name}}
{{#_blank_line}}

{{/_blank_line}}
{{/simples}}
{{#string_lists}}
{{>params.traits}}
list {{smithy_name}} {
  member: String
}
{{#_blank_line}}

{{/_blank_line}}
{{/string_lists}}
{{#enum_lists}}
{{>params.traits}}
list {{smithy_name}} {
  member: {{member_smithy_name}}
}

enum {{member_smithy_name}} {
{{#options}}
  {{key}} = "{{value}}"
{{/options}}
}
{{#_blank_line}}

{{/_blank_line}}
{{/enum_lists}}
{{#enums}}
{{>params.traits}}
enum {{smithy_name}} {
  {{#options}}
  {{key}} = "{{value}}"
  {{/options}}
}
{{#_blank_line}}

{{/_blank_line}}
{{/enums}}
