{{#deprecated}}
@deprecated
{{/deprecated}}
{{#with_extensions}}
@vendorExtensions(
    {{#extensions}}
    "x-{{{key}}}": {{{value}}},
    {{/extensions}}
)
{{/with_extensions}}
{{#pattern}}
@pattern("{{{pattern}}}")
{{/pattern}}
{{#documentation}}
@documentation("{{{documentation}}}")
{{/documentation}}
