{{#deprecated}}@deprecated{{/deprecated}}
{{#deprecation_info}}
@vendorExtensions(
  "x-deprecation-message": "{{{deprecation_message}}}",
  "x-version-deprecated": "{{{deprecation_version}}}"
)
{{/deprecation_info}}
{{#documentation}}@documentation("{{{documentation}}}"){{/documentation}}
{{#default}}@default({{default}}){{/default}}