{{#unique_description?}}
@documentation("{{{description}}}")
{{/unique_description?}}
{{#with_default}}
@default({{{default}}})
{{/with_default}}
{{#unique_deprecation?}}
@deprecated
@vendorExtensions(
    "x-deprecation-message": "{{{deprecation_message}}}",
    "x-version-deprecated": "{{{deprecation_version}}}"
)
{{/unique_deprecation?}}
