{{#unique_description?}}
@documentation("{{{description}}}")
{{/unique_description?}}
{{#with_default}}
@default({{{default}}})
{{/with_default}}
{{#unique_deprecation?}}
@deprecated
{{/unique_deprecation?}}
{{#with_extensions}}
@vendorExtensions(
{{#extensions}}
    "x-{{{key}}}": {{{value}}},
{{/extensions}}
)
{{/with_extensions}}