{{license_header}}
$version: "2"
namespace OpenSearch

@mixin
structure {{common_query_structure}} {
{{#query_params}}
    @httpQuery("{{original_name}}")
    {{#required?}}
    @required
    {{/required?}}
    {{>structure.traits}}
    {{param_name}}: {{smithy_name}},
    {{#_blank_line}}

    {{/_blank_line}}
{{/query_params}}
}

{{#common_body_structure}}
// TODO: Fill in Body Parameters
structure {{common_body_structure}} {}
{{/common_body_structure}}

{{#input_structures}}
@input
structure {{structure_name}} with [{{common_query_structure}}] {
{{#path_params}}
    @required
    @httpLabel
    {{>structure.traits}}
    {{original_name}}: {{smithy_name}},
    {{#_blank_line}}

    {{/_blank_line}}
{{/path_params}}
{{#with_body}}
    @httpPayload
    content: {{common_body_structure}},
{{/with_body}}
}

{{/input_structures}}
// TODO: Fill in Output Structure
structure {{output_structure}} {}
