{{license_header}}
$version: "2"
namespace OpenSearch

@mixin
structure {{common_query_structure}} {
{{#query_params}}
    @httpQuery("{{name}}")
    {{#required?}}
    @required
    {{/required?}}
    {{>structure.traits}}
    {{name}}: {{type}},
    {{#_blank_line}}

    {{/_blank_line}}
{{/query_params}}
}

{{#common_body_structure}}
// TODO: Fill in Body Parameters
@mixin
structure {{common_body_structure}} {}
{{/common_body_structure}}

{{#input_structures}}
@input
structure {{structure_name}} with [{{common_query_structure}}{{#with_body}}, {{common_body_structure}}{{/with_body}}] {
{{#path_params}}
    @required
    @httpLabel
    {{>structure.traits}}
    {{name}}: {{type}},
    {{#_blank_line}}

    {{/_blank_line}}
{{/path_params}}
}

{{/input_structures}}
// TODO: Fill in Output Structure
structure {{output_structure}} {}
