{{#unique_description?}}
@documentation("{{{description}}}")
{{/unique_description?}}
{{#unique_default?}}
@default({{{default}}})
{{/unique_default?}}
{{#unique_deprecation?}}
@deprecated
@vendorExtensions(
  "x-deprecation-message": "{{{deprecation_message}}}",
  "x-version-deprecated": "{{{deprecation_version}}}"
)
{{/unique_deprecation?}}
